<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Tasty Tracker</title>
    <link
            rel="stylesheet"
            href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="icon" href="{{ url_for('static', filename='cookie.png') }}">
</head>

<body>
{% from "hero.html" import hero with context %}
{{ hero(login_msg) }}
<section class="section">
    {% from "tile.html" import tile with context %}
    <div class="container">
        {% for r in vm.recipes %}
        <div class="tile is-ancestor">
            <div class="tile is-horizontal">
                <div class="tile is-vertical is-12">
                    <div class="tile">
                        {{ tile(*r) }}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</section>
</body>
</html>
